<ActionBar class="action-bar" title="">
    
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Browse"></Label>

    <ActionItem icon="res://map_icon" ios.position="right" android.position="right" (tap)="hideShowMap()"></ActionItem>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="false" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Browse'"></MyDrawer>
    </StackLayout>
    
    <GridLayout class="page page-content" tkMainContent>
        
        
    </GridLayout>
</RadSideDrawer>