<ActionBar class="action-bar">
    
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Browse"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Browse'"></MyDrawer>
    </StackLayout>
    
    <GridLayout class="page page-content" tkMainContent>
        
        <ContentView height="99%" 
            width="99%">

            <Mapbox
                #map
                accessToken="your-token"
                mapStyle="outdoors"
                hideCompass="false"
                zoomLevel="12"
                showUserLocation="true"
                hideLogo="true"
                disableZoom="false"
                hideAttribution="true"
                disableRotation="false"
                disableScroll="false"
                disableTilt="false"
                (mapReady)="onMapReady($event)">
            </Mapbox>
        </ContentView>

    </GridLayout>
</RadSideDrawer>